<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="${plugin.id}" version="1">
    <about>
        <name>StatsD notification plugin</name>
        <version>${project.version}</version>
        <target-go-version>${go.minimal.version}</target-go-version>
        <description>Plugin that sends pipeline metrics to StatsD</description>
        <vendor>
            <name>Johan Lyheden</name>
            <url>https://github.com/gocd/go-plugins</url>
        </vendor>
    </about>
</go-plugin>